h1 {
  margin: 1rem 0;
}

.App {
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-main, .App-aside {
  width: 100%;
}

.App-aside {
}

.App-aside-box {
  background-color: antiquewhite;
  padding: 2rem .5rem;
}

.App-footer {
  padding: 1rem;
  background-color: #aaaaaa;
}

/* medium */
@media screen and (min-width: 768px){
  .App-content {
    margin: auto;
  }
  .App-main, .App-aside {
    margin: 1rem;
  }
  .App-aside-box {
    border-radius: .5rem;
  }
}

/* large */
@media screen and (min-width: 960px) {
  .App-content {
    flex-direction: row;
    align-items: initial;
  }
}