label > input {
  margin: 0 .5rem 0 .25rem;
}

.ColourMatcher {
  background-color: #eeeeee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BaseColourScale {
  padding: .5rem;
  justify-content: center;
}

.swatch {
  height: 3rem;
  width: 3rem;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.base {
  margin-right: 1rem;
}

.horizontal {
  //display: flex;
  flex-direction: row;
}

.vertical {
  //display: flex;
  flex-direction: column;
}

.error {
  border: 1px solid red;
}

.ColourMatcherSelection {
  padding: 1rem 0;
  background-color: bisque;
  width: 100%;
  margin: 2rem 0;
}

.fieldsetrow {
  padding: .5rem 0;
}

.ColourList {
  /*display: flex;*/
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}

/* medium */
@media screen and (min-width: 768px) {
  .ColourMatcher {
    border-radius: .5rem;
  }
}